* {
    margin:0;padding:0;box-sizing:border-box;
}

html, body {
    scroll-behavior: smooth;
}

ul, ol, summary {
    list-style:none;
}

a {
    color:inherit;
    text-decoration:none;
}

a, button {
    transition:0.4s; 
}

button {
    cursor:pointer;
    border:none;
}

h1,h2,h3,h4,h5,h6,strong {
    font-weight:inherit;
}

em, i, address {
    font-style:inherit;
}

summary {
    cursor:pointer;
}

select, input, button {
    background-color:transparent; 
    border:none;
    color:inherit; 
    font-size:inherit;
    @include formBox();
}

.blind, legend {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}

fieldset {
    border:none;
}

img {
    max-width:100%;
}