@use 'sass:math';

// Media query
@mixin media($point) {
    @media all and (max-width:$point) {
        @content;
    }
}
 

// Unit change
@function rem($size) {
    // $size : $size / 16;
    $size : math.div($size, 16);
    @return #{$size}rem;
}

// rem Font 
@mixin remFont($type, $wt: null, $row: null) {  

    $size :null; 

    // 키워드변수가 아닐경우 입력된 사이즈 반영
    @if type-of($type) == string {
        $size : map-get($font, #{$type}); 
    } @else {
        $size : $type;
    } 

    font-size:rem($size);
    font-weight:$wt; 
    line-height:$row;
   
    @if ($size >=38) { 
      letter-spacing: -2.4px;
    } @else if ($size >=28) {
      letter-spacing: -1px;
    } @else if ($size >=18) {
      letter-spacing: -0.5px;
    } 
 
    
    
    @include media($mobile) { 
        $vwSize : $size * 0.14;
        @if $vwSize < 3.2 {
            // 14px 이하로 줄어들지 않도록 제어
            font-size : 14px;
        } @else {
            font-size: #{$vwSize}vw; 
        } 
    }
 
 
}


@mixin shadow($type:box, $size:10px, $color:black, $alpha:0.8) {
    #{$type}-shadow : 0 0 $size rgba($color, $alpha);
}


@mixin flex($g:null, $a:center, $j:space-between,$d:null) {
    display:flex;
    align-items:$a;
    justify-content:$j;
    gap:$g;
    flex-direction:$d; 
}


@mixin formBox($type:null, $size : md) { 
    // $type : btn, input, line 이후 필요한 것을 추가하면 된다.
    // 높이와 여백, 테두리 공통지정
    // 본 사이트의 디자인시스템을 설정, 불필요한것은 굳이 설정해 놓을 필요 없다.
    height : map-get($formBox, #{$size}); 
    border-radius:$radius; 
    padding : 0 rem(10);  
 
    @if $type == btn {
        background-color:$primary; 
        @include flex($j:center);
        &:hover {
            background-color : scale-color($primary, $lightness : -20%)
        }
    } @else if $type == input {
        background-color : rgba(white,0.1);
        border:1px solid $line;

        &:focus {
            border-color:rgba($primary, 0.1);
        }

    } @else if $type == line {
        background-color : transparent;
        border:1px solid $line; 
    }
}

 