@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
 
@import 'variables','script','reset','extend';

body {
    font-family: 'Ubuntu', sans-serif;
    font-weight:300;
    line-height:1.4;
    background-color:map-get($body, bg);
    color:map-get($body, text);
}
 
@import 'home'; 